body {
  text-align: center;
  background-image: url(https://i.pinimg.com/originals/ab/58/cc/ab58cc75dcb2e42555cf7e614216350a.jpg);
}

h1 {
  color: navy;
}

.PokeCard{
  background-color: yellow;
  margin-left: 610px;
  width: 200px;
  border-style: solid;
  border-width: 2px;

} 

.PokeCardName{
  text-align: left;
}

.PokeCardHP{
  text-align: right;
}

img{
  border-style: solid;
  border-width:1px;
}


